@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ControlClaimMonthlySystem.Models.LecturerClaimModel
<form asp-action="SubmitClaim" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Lecturer Name</label>
        <input type="text" asp-for="LecturerName" required />
    </div>
    <div class="form-group">
        <label>Module</label>
        <input type="text" asp-for="Module" required />
    </div>
    <div class="form-group">
        <label>Hours Worked</label>
        <input type="number" asp-for="HoursWorked" required />
    </div>
    <div class="form-group">
        <label>Hourly Rate</label>
        <input type="text" asp-for="HourlyRate" required />
    </div>
    <div class="form-group">
        <label>Upload Supporting Document</label>
        <input type="file" name="uploadedFile" />
    </div>
    <button type="submit">Submit</button>
</form>
<p>@ViewBag.Message</p>
